{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}


{% load static %}
      
      
 
{% block head_title %}{% trans "Sign In" %}{% endblock %}


{% block content %}

<div class="container h-100 p-3">
  <div class="row h-100  no-gutters d-flex  justify-content-center align-items-center">
    
    {% comment %}col 1 {% endcomment %}
    <div class="welcome-message bg-primary col-12 col-md-4 h-100 d-none  d-md-flex flex-column justify-content-center align-items-center p-4 m-0 border text-white">
  <img class='img-fluid rounded-circle w-75' src="{% static 'img/login_illustration2.png' %}"  alt="login-image">
  <h4 class="mt-2 text-center font-weight-bolder mb-0">Welcome Back</h4>  
  <p class="text-center">Welcome, we are glad you decided to join us. Enjoy awesome services with ease... </p>
    </div>
    {% comment %} col 2 {% endcomment %}
    <div class="login-container h-100 col-12 col-md-6  d-flex flex-column justify-content-center align-items-center p-4  bg-light-blue border rounded-right position-relative">
      
 <img class='mobile-form-logo d-sm-none  img-fluid rounded-circle w-25 position-absolute' src="{% static 'img/login_illustration2.png' %}"  alt="login-image">
<h4 class="text-center font-weight-bolder">{% trans "Sign In" %}</h4>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="text-center">{% blocktrans %}If you have not created an account yet, then please
<a class="btn btn-outline-primary btn-sm" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login  d-block w-100 " method="POST" action="{% url 'account_login' %} ">
  {% csrf_token %}
  <!-- {{ form.as_p }} -->
  {{ form | crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary btn-block" type="submit">{% trans "Sign In" %}</button>
  <a class="button secondaryAction btn btn-outline-primary btn-block" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

  </div>
    
  </div>
</div>
{% endblock %}


