{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="container-fluid h-100 p-3 bg-light-blue">
  <div class="row h-100  no-gutters d-flex  justify-content-center align-items-center ">
    {% comment %}col 1 {% endcomment %}
    <div class="gradient bg-primary col-12 col-md-7 h-75 d-flex flex-column justify-content-center align-items-center p-5 m-0 border text-white">
<img class='img-fluid rounded-circle w-25' src="{% static 'img/success.png' %}"  alt="login-image">

    <h2 class="text-center">{% trans "Password Reset" %}</h2>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>

   
    </div>
    </div>
    </div>
{% endblock %}
