{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="container-fluid h-100 p-3 bg-light-blue">
  <div class="row h-100  no-gutters d-flex  justify-content-center align-items-center ">
    {% comment %}col 1 {% endcomment %}
    <div class="gradient bg-primary col-12 col-md-7 h-100  d-flex flex-column justify-content-center align-items-center p-5 m-0 border text-white">
<img class='img-fluid rounded-circle w-25' src="{% static 'img/forgot_password.png' %}"  alt="login-image">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="w-100">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn  btn-light  btn-block" type="submit" name="action" value="{% trans 'change password' %}"/>
        </form>
    {% endif %}

    </div>
    </div>
    </div>
{% endblock %}
