{% load static %}
<div class="col-12 dashboard-topnav-wrapper p-0">
<div class="dashboard-topnav bg-white shadow-sm p-2 px-1  m-0 d-flex justify-content-between justify-content-md-end align-items-center">
    <div class="ext-toggler navbar-toggler bg-light d-flex justify-content-center align-items-center d-md-none bg-white ">
    <button class="navbar-toggler border-0  trade-sidebar-toggler p-1 bg-opacity-25" type="button" data-toggle="collapse" data-target="#trade-sidebar" aria-controls="trade-sidebar" aria-expanded="false" aria-label="Toggle navigation">
      <span class=" text-black border-0 "> <img width="30" height="30" src="{% static 'images/hamburger.png' %}" class="" alt="b"></span>
</button>
</div>
               <div class="profile d-flex align-items-center">
                 <span class=" text-primary">Solomon Uche &nbsp</span>
                <img class="img-fluid mr-4" src="{% static 'images/dp_1.svg' %}" width="40" alt="dp">
               </div>
</div>
</div>