{% load  static %}

<div class="col-3 col-sm-2  p-0 m-0 h-100 ">
<div class="ext-toggler bg-light d-flex justify-content-center align-items-center d-md-none p-1  pb-4 bg-white shadow ">
    <button class="navbar-toggler border-0 w-100" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-black border-0 "> <img width="40" src="{% static 'images/hamburger.png' %}" class="" alt="b"></span>
</button>
</div>
<nav id="navbarToggleExternalContent" class="navbar navbar-light bg-primary h-100 w-100"> 
        <ul class="nav navbar-nav flex-column h-100 w-100">
            {% comment %} <li class="nav-item bg-white p-3">
                <img src="{% static 'images/jsbc_logo.png' %}" class="img-fluid" width='100' alt="logo">
            </li> {% endcomment %}
            <hr class="text-white w-100">
            <li class="nav-item welcome w-100">
                <a class="nav-link px-3   d-flex flex-column flex-md-row  justify-content-center justify-content-sm-start align-items-center" href="#"><i class="fas fa-laugh-wink fa-2x mr-md-2"></i> <span class="">Welcome</span></a>
            </li>
            <hr class="text-white w-100">
            
            <li class="nav-item active w-100">
                <a class="nav-link  px-3 d-flex flex-column flex-md-row  justify-content-center justify-content-sm-start align-items-center" href="{% url 'trade:index' %}"><i class="fa fa-tachometer fa-2x mr-md-2" aria-hidden="true"></i><span>Dashboard</span> <span class="sr-only">(current)</span></a>
            </li>


            <p class="text-white p-0 m-0 mt-3 ml-2">Utilities</p>
             <hr class="text-white w-100">
           
            <li class="nav-item w-100">
                <a class="nav-link px-3  d-flex flex-column flex-md-row  justify-content-center justify-content-sm-start align-items-center" href="#"><i class="fa fa-briefcase fa-2x mr-md-2" aria-hidden="true"></i> <span class="">Plans</span></a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link px-3  d-flex flex-column flex-md-row  justify-content-center justify-content-sm-start align-items-center" href="{% url 'trade:subscription' %}"><i class="fa fa-wrench fa-2x mr-md-2" aria-hidden="true"></i> 
                <span> Subscriptions</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link px-3 text-center nav-link nav-link  d-flex flex-column flex-md-row  justify-content-center justify-content-sm-start align-items-center" href="#"><i class="fa fa-user-circle fa-2x mr-md-2" aria-hidden="true"></i> 
                <span>Account Settings</span>
                </a>
            </li>
            
        </ul>
</nav>
    </div>