{% extends "account/base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid w-100 p-0 m-0 h-100 ">
    {% comment %} row 1 ................................................................................... {% endcomment %}
    <div class="row">
        <div class="col-12  h-100 ">
            {% comment %} Hero section ................................................................................ {% endcomment %}
            <div class="hero p-3">
              <div class="container d-flex flex-column justify-content-center align-items-center h-100">
                    <h1 class="text-white text-center">New to Forex?</h1>
                    <h1 class="fw-bolder text-white text-center animate__animated animate__fadeIn">Get the best start in Forex Trading.</h1>
                    <p class="text-white-50 text-center m-0">Make more money from Forex</p>
                    {% comment %} ...................................................................................... {% endcomment %}
                    <div class="lm-btn-wrapper  w-100 d-flex flex-column  justify-content-center align-items-center p-3">
                        <div class="w-75  border-top m-0 "> .</div>
                       <div class="w-100 d-flex flex-column flex-sm-row justify-content-center align-items-center ">
                         <a href="{% url 'main:about' %}" class="btn  btn-primary  mr-sm-4 mb-4  animate__animated animate__fade">Learn More <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                        <a href="{% url 'account_signup' %}" class="btn  btn-primary animate__animated animate__fade">Get Started <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                       </div>
                   </div>
              </div>
            </div>
        </div>

    </div>
</div>
{% comment %} sponsorship section {% endcomment %}
<section class="container-fluid bg-light mb-4 py-5">
  <div class="container">
    <p class="text-center p-0 m-0" >Sponsored</p>
    <h4 class="text-center fw-bold" >Official JSBC Brokers & Prop Firm</h4>
    <hr>
    <div class="row gy-4">
      <div class="col-12 col-md-6">
        <img class="img-fluid my-3" src="{% static 'images/mff.png' %}" alt="infinox">
          <a class="btn btn-primary btn-block btn-lg shadow" href="https://myforexfunds.com/?wpam_id=150751">Start Earning</a>
        
      </div>
      <div class="col-12 col-md-6">
        <img class="img-fluid my-3" src="{% static 'images/infinox.png' %}" alt="infinox">
      <a class="btn btn-primary btn-block btn-lg shadow" href="https://www.infinox.com/fsc/en/registration/live-account?creative_id=9n2d2k8v&affid=75382">Start Earning</a>
      </div>
      
    </div>
  </div>
</section>
{% comment %} end {% endcomment %}
{% comment %}  services ................................................................... {% endcomment %}
<div class="container ">
    <div class="row services p-4  d-flex justify-content-center align-items-center">
        {% comment %} Services heading ..................................................................... {% endcomment %}
        <div class="col-12">
          <p class="text-center text-black-50 m-0">Gateway to maximum profit.</p>
            <h2 class="text-center fw-bolder ">Industry Leading Professional Forex Traders</h2>
        </div>
        <hr>
         {% comment %} services ............................................................................ {% endcomment %} 

        {% comment %} service 1 ............................................................................. {% endcomment %}
         <div class="col-12  col-md-8 col-lg-3 service-col  bg-white rounded rounded-2 m-2  animate__animated animate__fadeIn">
           <div class="p-3 d-flex flex-column justify-content-center align-items-center">
            <i class="fa fa-ticket fa-3x text-primary mb-2" aria-hidden="true"></i>
             <h5 class="fw-bolder text-center">Confidence</h5>
             <p class="text-center text-black-50">We understand the importance of confidence when trading forex and we have put in place professional trading style, realistic time frame and lots more to help boost confidence even for our experts and clients. </p>
           </div>
        </div>
        {% comment %} service 2 ............................................................................. {% endcomment %}
         <div class="col-12  col-md-8 col-lg-3 service-col bg-white rounded rounded-2 m-2 shadow-lg  animate__animated animate__fadeIn">
           <div class="p-3 d-flex flex-column justify-content-center align-items-center">
           <i class="fa fa-street-view fa-4x text-primary" aria-hidden="true"></i>
             <h2 class="fw-bolder text-center">Real Profit</h2>
             <p class="text-center text-black-50 p-2">Our mission is make everyone interested in forex to make a realistic profit and we have set down neccessary measures including a team of Expert Forex traders to guarantee profitable returns.</p>
           </div>
        </div>
        {% comment %} service 3 ............................................................................. {% endcomment %}
         <div class="col-12  col-md-8 col-lg-3 service-col bg-white rounded rounded-2 m-2  animate__animated animate__fadeIn">
           <div class="p-3 d-flex flex-column justify-content-center align-items-center">
             <i class="fa fa-rocket fa-3x text-primary mb-2" aria-hidden="true"></i>
             <h5 class="fw-bolder text-center">Secure Capital</h5>
             <p class="text-center text-black-50 p-3">Realistically, unprofitable trades are inevitable but with our team of experts we put the best to msecure trading capitals.</p>
           </div>
        </div>
</div>
</div>
{% comment %} Testimonials ........................................................................... {% endcomment %}
<div class="container mt-4">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-12">
      <p class="text-center text-black-50 m-0">Testimonials</p>
      <h2 class="text-center fw-bold  ">Here is what people are saying about JSBC.</h1>
      <hr>
    </div>


         {% comment %} Testimonial col {% endcomment %}
       <div class="col-12 col-sm-8 my-4 p-3>

           {% comment %}Testimonial carousel  {% endcomment %}
       <div id="carouselId" class="carousel slide d-flex justify-content-center align-items-center" data-ride="carousel">
         <ol class="carousel-indicators">
           <li data-target="#carouselId" data-slide-to="0" class="active"></li>
           {% comment %} <li data-target="#carouselId" data-slide-to="1"></li> {% endcomment %}
           <li data-target="#carouselId" data-slide-to="1"></li>
         </ol>
         <div class="carousel-inner" role="listbox">

           <div class="carousel-item active">
             {% comment %} <img data-src="{% static "images/testimonial/3.png" %}" alt="First slide"> {% endcomment %}
            {% comment %} Testimonial {% endcomment %}
          <div class="testimonial m-2 mb-3">
            <div class=" d-flex justify-content-center align-items-center bg-white">
              <div class=" m-3">
                <img class="rounded-circle shadow" width="100" src="{% static "/images/solo_2.jpg" %}" alt="profile image.">
              </div>
              <div class="d-flex flex-column justify-content-center align-items-start p-3">
                  <h6 class=" border-bottom border-dark fw-bold text-primary" >Solomon Uche  <span class="date-time text-black-50">19 May, 2022.</span></h6>
                  <p>I came into the forex space as a total novice and in less than a month JSBC made me my first profit from forex.</p>
              </div>
            </div>
          </div>
          {% comment %} end of testimonial {% endcomment %}
           </div>
           
           {% comment %} Carousel item {% endcomment %}

         

           <div class="carousel-item">
             {% comment %} <img data-src="holder.js/900x500/auto/#666:#444/text:Third slide" alt="Third slide"> {% endcomment %}
              {% comment %} Testimonial {% endcomment %}
          <div class="testimonial m-2 mb-3">
            <div class=" d-flex justify-content-center align-items-center bg-white">
              <div class=" m-3">
                <img class="rounded-circle shadow" width="100" src="{% static "/images/pp.jpg" %}" alt="profile image.">
              </div>
              <div class="d-flex flex-column justify-content-center align-items-start p-3">
                  <h6 class=" border-bottom border-dark fw-bold text-primary"  >Raymond Oluwayobi <span class="date-time text-black-50">27 Feb., 2022.</span></h6>
                  <p>All i can say is that JSBC kept to their words which is one qualitiy of a great company.</p>
              </div>
            </div>
          </div>
          {% comment %} end of testimonial {% endcomment %}
          
           </div>
         </div>
         <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon" aria-hidden="true"></span>
           <span class="sr-only">Previous</span>
         </a>
         <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="sr-only">Next</span>
         </a>
       </div>
       </div>


  </div>
</div>
{% endblock content %}