{% extends "account/base.html" %}
{% load static %}
 <!-- Page Content-->
          {% block content %}
              <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="text-center mb-5">
                        <h1 class="fw-bolder">Our Work</h1>
                        <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
                        <hr>
                    </div>
                    <div class="row gx-5">
                        {% comment %} item ........................ {% endcomment %}
                        <div class="col-lg-6">
                            {% comment %} Youtube video link {% endcomment %}
                            <div class="position-relative mb-5 d-flex flex-column justify-content-center ">
                            <iframe class="w-100" height="400" src="https://www.youtube.com/embed/n15JjFouwTY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% comment %}  {% endcomment %}
                                <h5 class="h3 fw-bolder text-decoration-none link-dark stretched-link my-3" >Forex Challenge</h5>
                            </div>
                        </div>
                        {% comment %} item ........................ {% endcomment %}
                        <div class="col-lg-6 h-100">
                            {% comment %} Youtube video link {% endcomment %}
                            <div class="position-relative mb-5 d-flex flex-column justify-content-center h-100">
                            <iframe class="w-100" height="400"  src="https://www.youtube.com/embed/f5217VQ__Zs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% comment %}  {% endcomment %}
                                <h5 class="h3 fw-bolder text-decoration-none link-dark stretched-link my-3" >Forex Challenge Guide</h5>
                            </div>
                        </div>
                        {% comment %} end ................. {% endcomment %}
                                             
                        {% comment %} item ........................ {% endcomment %}
                        <div class="col-lg-6 h-100">
                            {% comment %} Youtube video link {% endcomment %}
                            <div class="position-relative mb-5 d-flex flex-column justify-content-center h-100">
                            <iframe class="w-100"  height="400" src="https://www.youtube.com/embed/rS7sshRj0Xk" title="how I withdrew 80% 0f 14,600$ from my forex funds" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% comment %}  {% endcomment %}
                                <h5 class="h3 fw-bolder text-decoration-none link-dark stretched-link my-3" >Withdrew 80% of 14,600$ from my forex funds.</h5>
                            </div>
                        </div>
                        {% comment %} end ................. {% endcomment %}
                                             
                        
                    </div>
                </div>
            </section>
            <section class="py-5 bg-light">
                <div class="container px-5 my-5 ">
                    <h2 class="display-4 fw-bolder mb-4 ">Let's make profit together</h2>
                    <a class="btn btn-lg btn-outline-primary" href="{% url 'main:contact' %}">Contact us</a>
                </div>
            </section>
          {% endblock content %}