{% extends "account/base.html" %}
{% load static %}
{% block content %}
<section class='container my-5 '>
{% comment %} grid  {% endcomment %}
<div class="container">
    <div class="row">
        {% comment %} col 1 {% endcomment %}
        <div class="col-12">
            <p class="text-black-50 m-0 p-0">AGREEMENT</p>
            <h1 class="fw-bold ">Terms and Conditions</h1>
        </div>
        {% comment %} col 2 {% endcomment %}
        <div class="col-12">
            
<p style="margin-bottom: 0.11in; "><b>JSBC</b> has
the <b>sole prerogative</b> to modify these <b>Terms and Conditions</b>
at any time. All changes to these <b>T&amp;C’s</b> will come into
effect immediately after implementation of such changes since your
<b>acceptance</b> of the revised <b>T&amp;C’s</b> will be made via
a <b>click-through confirmation or acceptance button</b>. Please
review them from time to time since Your continued dealing with us
shall be deemed to be Your acceptance of any such modification. <b>If
You do not agree to these Terms and Conditions</b>, please do <b>not</b>
seek access nor make use of this platform, its products and services.</p>
<p style="margin-bottom: 0.11in; "><br/>
<br/>

</p>
<p style="margin-bottom: 0.11in; "><b class='fs-5 fw-bold'>The General
Terms.</b></p>
<p style="margin-bottom: 0.11in; ">The <b>Client</b>
hereby <b>acknowledges</b> that he or she has <b>read, understood</b>
and <b>accepted</b> the <b>Terms and Conditions </b>as amended from
time to time, in addition to any information contained within the
firm’s website available online at www.jsbc.com.ng</p>
<p style="margin-bottom: 0.11in; ">After the <b>Client</b>
successfully completes the <b>Registration</b>, together with all the
required identification and documentation, <b>JSBC</b> will send him
a notice informing him whether he has been accepted as a <b>Client</b>
or <b>Customer </b>of <b>JSBC</b>. It is understood that the Company
is <b>not</b> to be required (and may be unable under <b>Applicable
Regulations) </b>to accept the Client as its customer, and hence open
an account for him or accept any money from him, <b>until all
documentation</b> it requires has been received by the Company,
properly and fully <b>completed</b> by the <b>Client</b> and all
internal Company checks (including without limitation <b>anti-money
laundering checks and appropriateness tests) </b>have been duly
satisfied. The Agreement will take effect and commence upon the
receipt by the Client of the notice sent by the Company informing the
Client that he has been accepted as the <b>Company’s Client</b>. By
accepting this <b>Agreement,</b> the <b>client</b> is <b>consenting</b>
that if he is accepted by the <b>Company</b> as a <b>Client</b>,
their relationship will be governed by these <b>Terms</b> and
<b>Conditions</b>. And, the <b>Terms go thus: </b>
</p>
<ul>
	<li><p style="margin-bottom: 0.11in; ">The <b>Client</b>
	acknowledges that the <b>Firm’s official language</b> is the
	<b>English Language</b>.</p>
	<li><p style="margin-bottom: 0.11in; ">The <b>Terms
	</b>will <b>govern</b> all the <b>actions</b> that relate to the
	execution of the <b>client’s transactions</b> and dealings with
	<b>JSBC.</b></p>
	<li><p style="margin-bottom: 0.11in; ">The <b>Terms</b>
	are <b>non-negotiable</b> and <b>overrides</b> any other Agreements,
	Arrangements, express or implied Statements made by <b>JSBC</b>,
	unless the company, in its sole discretion, determines that the
	context requires otherwise, <span lang="en-GB">and </span><span lang="en-GB"><b>JSBC</b></span><span lang="en-GB">
	and the </span><span lang="en-GB"><b>client</b></span><span lang="en-GB">
	shall be </span><span lang="en-GB"><b>legally bound by it.</b></span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">The
	</span><span lang="en-GB"><b>Client acknowledges</b></span><span lang="en-GB">
	the electronic nature of the </span><span lang="en-GB"><b>Services</b></span><span lang="en-GB">
	and the </span><span lang="en-GB"><b>inherent risk</b></span><span lang="en-GB">
	that communications by electronic means </span><span lang="en-GB"><b>may,
	sometimes</b></span><span lang="en-GB"> not reach their intended
	destination on time for reasons beyond the control of </span><span lang="en-GB"><b>JSBC.
	</b></span>
	</p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB"><b>JSBC</b></span><span lang="en-GB">
	does not control signal power, its reception or routing via </span><span lang="en-GB"><b>Internet</b></span><span lang="en-GB">
	or any other means of electronic communication, configuration of
	</span><span lang="en-GB"><b>Client’s</b></span><span lang="en-GB">
	equipment or reliability of its connection, thus, the </span><span lang="en-GB"><b>JSBC</b></span><span lang="en-GB">
	shall </span><span lang="en-GB"><b>not</b></span><span lang="en-GB">
	</span><span lang="en-GB"><b>be liable</b></span><span lang="en-GB">
	for any </span><span lang="en-GB"><b>claims, losses, damages, costs
	or expenses, including attorneys’ fees</b></span><span lang="en-GB">,
	caused directly or indirectly, by any </span><span lang="en-GB"><b>breakdown
	or failure of any transmission or communication system or computer
	facility belonging to the Company.</b></span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">The
	</span><span lang="en-GB"><b>Client</b></span><span lang="en-GB"> is
	obliged to keep all login information </span><span lang="en-GB"><b>secret</b></span><span lang="en-GB">,
	and ensure that </span><span lang="en-GB"><b>third parties do not</b></span><span lang="en-GB">
	obtain access to the trading facilities. The </span><span lang="en-GB"><b>Client
	will be held responsible</b></span><span lang="en-GB"> for
	transactions executed by means of the </span><span lang="en-GB"><b>Client’s
	password</b></span><span lang="en-GB"> even if such transactions
	were not executed by the Client.</span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB"><b>Unless
	otherwise indicated or agreed,</b></span><span lang="en-GB"> any
	prices shown on the </span><span lang="en-GB"><b>Company’s Trading
	Platform</b></span><span lang="en-GB"> are indicative at the time
	shown based on data that is subject to constant change. The
	execution price is that which is confirmed to the </span><span lang="en-GB"><b>Client</b></span><span lang="en-GB">
	on the Trade Confirmation issued after the </span><span lang="en-GB"><b>Client
	</b></span><span lang="en-GB">order is executed, although this </span><span lang="en-GB"><b>price</b></span><span lang="en-GB">
	</span><span lang="en-GB"><b>may</b></span><span lang="en-GB">, in
	certain cases, </span><span lang="en-GB"><b>differ from the price
	appearing on the screen</b></span><span lang="en-GB"> at the time
	the order was placed. In the event that an erroneous price is used
	as the basis of any transaction, </span><span lang="en-GB"><b>JSBC</b></span><span lang="en-GB">
	reserves the right to amend or revoke the details of the
	transaction(s) in question.</span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">The
	identification or use of any </span><span lang="en-GB"><b>third
	party products, services or websites</b></span><span lang="en-GB">
	is </span><span lang="en-GB"><b>not</b></span><span lang="en-GB"> an
	</span><span lang="en-GB"><b>endorsement</b></span><span lang="en-GB">
	of such services, products or services by the </span><span lang="en-GB"><b>JSBC</b></span><span lang="en-GB">.
	The Company </span><span lang="en-GB"><b>accepts no responsibility
	or liability</b></span><span lang="en-GB"> of any kind in respect of
	any materials on any website which are </span><span lang="en-GB"><b>not
	under the Company’s direct control.</b></span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">In
	order for the </span><span lang="en-GB"><b>JSBC</b></span><span lang="en-GB">
	to quote prices with the swiftness normally associated with
	speculative trading, the </span><span lang="en-GB"><b>Company</b></span><span lang="en-GB">
	may have to </span><span lang="en-GB"><b>rely on available price or
	available information</b></span><span lang="en-GB"> that </span><span lang="en-GB"><b>may</b></span><span lang="en-GB">
	later </span><span lang="en-GB"><b>prove to be faulty</b></span><span lang="en-GB">
	due to </span><span lang="en-GB"><b>specific market circumstances</b></span><span lang="en-GB">,
	for instance, but not limited to, </span><span lang="en-GB"><b>lack
	of liquidity</b></span><span lang="en-GB"> in or </span><span lang="en-GB"><b>suspension
	of an asset or errors in feeds from information providers</b></span><span lang="en-GB">
	or quotes from </span><span lang="en-GB"><b>Counterparties (Banks or
	Brokers).</b></span><span lang="en-GB"> If so, and if the Company
	has acted in good faith when providing the price to the Client, the
	Company may cancel the trade with the Client, but shall do so within
	reasonable time and shall provide the Client with a full explanation
	for the reason for such cancellation.</span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">In
	markets where the </span><span lang="en-GB"><b>Counterparty(Bank or
	Broker</b></span><span lang="en-GB">) acts as a </span><span lang="en-GB"><b>Dealer</b></span><span lang="en-GB">
	in </span><span lang="en-GB"><b>Securities</b></span><span lang="en-GB">,
	the </span><span lang="en-GB"><b>Client</b></span><span lang="en-GB">
	</span><span lang="en-GB"><b>accepts</b></span><span lang="en-GB">
	that </span><span lang="en-GB"><b>JSBC</b></span><span lang="en-GB">
	has </span><span lang="en-GB"><b>no obligation</b></span><span lang="en-GB">
	to quote prices to clients at all times in any given market market,
	nor to quote such prices to clients with a specific maximum spread.</span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">The
	</span><span lang="en-GB"><b>Client</b></span><span lang="en-GB">
	</span><span lang="en-GB"><b>acknowledges and accepts</b></span><span lang="en-GB">
	that the price quoted to the </span><span lang="en-GB"><b>Client</b></span><span lang="en-GB">
	includes the </span><span lang="en-GB"><b>difference between the
	asking and bidding price,</b></span><span lang="en-GB"> when
	compared with the price to which the counterparty(</span><span lang="en-GB"><b>Bank
	or Broker</b></span><span lang="en-GB">) may have covered or
	expected to be able to cover the Contract in a trade with </span><span lang="en-GB"><b>another
	client or a Counterparty</b></span><span lang="en-GB">. Furthermore,
	the </span><span lang="en-GB"><b>Client acknowledges</b></span><span lang="en-GB">
	and </span><span lang="en-GB"><b>accepts</b></span><span lang="en-GB">
	that said difference constitutes remuneration to the </span><span lang="en-GB"><b>Company</b></span><span lang="en-GB">,
	and that such difference can not necessarily be calculated for all
	Contracts. </span>
	</p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">Any
	</span><span lang="en-GB"><b>commission costs, interest charges and
	other fees and charges</b></span><span lang="en-GB"> will
	consequently influence the </span><span lang="en-GB"><b>Client’s</b></span><span lang="en-GB">
	trading result and will have a negative effect on the </span><span lang="en-GB"><b>Client’s
	trading performance</b></span><span lang="en-GB"> compared to a
	situation if such commission costs, interest charges, costs
	associated to and included in the </span><span lang="en-GB"><b>Difference</b></span><span lang="en-GB">
	did not apply.</span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">The
	</span><span lang="en-GB"><b>counterparty(Bank or Broker)</b></span><span lang="en-GB">
	is at </span><span lang="en-GB"><b>not</b></span><span lang="en-GB">
	obliged to disclose any details of its performance or income
	produced as a </span><span lang="en-GB"><b>Dealer in Securities</b></span><span lang="en-GB">
	or otherwise related to other commissions, charges and fees.</span></p>
	<li><p style="margin-bottom: 0.11in; "><span lang="en-GB">Due
	to </span><span lang="en-GB"><b>low liquidity</b></span><span lang="en-GB">
	and/or or </span><span lang="en-GB"><b>high volatility</b></span><span lang="en-GB">
	and the widened </span><span lang="en-GB"><b>Difference</b></span><span lang="en-GB">
	between the </span><span lang="en-GB"><b>“asking Price” and
	“bidding prices”,</b></span><span lang="en-GB"> placing of
	pending orders around some Economic Announcements may be restricted.</span></p>
	<li><p style="margin-bottom: 0.11in; "><b>JSBC</b>
	is <b>not</b> <b>responsible</b> for any <b>errors or omissions</b>
	contained in any disseminated content at the Website, nor liable for
	any loss incurred as a result of using the content of the webpage in
	any way. <b>JSBC</b> has not solicited You, nor gave You any
	personalized investment advice. Communication by our employees is
	only in effect to give you technical support. Provided Information
	on the website should not cause You to make investment decisions.</p>
	<li><p style="margin-bottom: 0.11in; ">Furthermore,
	the Client agrees that <b>JSBC</b> has not made any <b>statement,
	warrants or guarantees</b> that You will always earn any money on
	any purchased product or services from <b>JSBC</b>, without standing
	the possibility of incurring losses; and the <b>result of the
	trading is a result outside the control of JSBC.</b> Before you
	apply to become a <b>Client of JSBC</b> decide to purchase any
	product or service from JSBC, you are deemed to have <b>consulted
	competent, professional counsel,</b> and read all available
	information or public company information in regard to <b>JSBC</b>.
	If the information You find contains predictions, expectations,
	beliefs, plans, assumptions or future income potential, this may not
	be statements of historical fact. 
	</p>
	<li><p style="margin-bottom: 0.11in; "><b>All
	content</b> included on the website www.___.com, hereinafter called
	the <b>(“Website”),</b> including the <b>brand, videos,
	graphics, designs, text, pictures, applications, software</b> and
	other files are the <b>proprietary property of JSBC</b>, hereinafter
	called (“Proprietary Property”), and belongs to <b>JSBC</b>. You
	<b>shall not</b> modify, copy, distribute, frame, republish,
	display, post, transmit, download or sell any Proprietary Property,
	in any form or by any means, in whole or in part, <b>without the
	prior written consent of JSBC.</b> 
	</p>
	<li><p style="margin-bottom: 0.11in; ">You <b>shall
	not</b> upload or republish Proprietary Property on any Internet,
	Intranet or Extranet site or incorporate the information in any
	other database or compilation. Any use of the <b>Proprietary
	Property without the prior written consent from JSBC</b>, is
	strictly <b>prohibited</b> and will <b>terminate Your rights as a
	Client</b>; and any unpaid and future Bonuses according to these
	<b>Terms and Conditions</b> will be <b>forfeited</b>, and legal
	proceedings may be taken against You. 
	</p>
	<li><p style="margin-bottom: 0.11in; "><b>JSBC </b>does
	<b>NOT</b> deal nor transact with persons <b>under the age of 18,</b>
	and <b>JSBC</b> will never collect or maintain information at our
	website from ANYONE who we actually know is <b>under the age of 18</b>.
	And no part of our Website is structured to attract anyone <b>under
	the age of 18.</b> <b>No</b> <b>children under the age of 18</b> are
	allowed to use the <b>Website</b> and access the products and
	services of <b>JSBC.</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>JSBC</b>
	<b>may</b> at any time, at their own decision, ask You to provide a
	copy of Your <b>passport</b> and a copy of a <b>utility bill</b>
	that may not be older than 90 days and shows Your address. This
	request is called <b>(“KYC Request”).</b> 
	</p>
	<li><p style="margin-bottom: 0.11in; ">The <b>Client
	acknowledges</b> and <b>agrees</b> that the Client <b>shall not</b>
	hold any employees, consultants, third party suppliers or
	individuals associated with <b>JSBC</b> liable for any and all
	damages or injury whatsoever caused by or related to use of, or
	inability to use the website of <b>JSBC </b>under any cause or
	action whatsoever of any kind in any jurisdiction, including,
	without limitation, actions for breach of warranty, breach of
	contract or tort (including negligence). And that none of the third
	parties or individuals associated with <b>JSBC</b> shall be liable
	for any indirect, incidental, special, exemplary or consequential
	damages, <b>including for loss of profits, goodwill or data, in any
	way whatsoever for reasons beyond the control of JSBC.</b></p>
	<li><p style="margin-bottom: 0.11in; ">As a <b>Client</b>,
	you hereby accept and warrant that You have the basic understanding
	of the <b>usage and intricacies </b>of <b>cryptographic tokens</b>,
	such as <b>BTC (Bitcoin) and other block chain-based</b> software
	systems. Furthermore, you accept and warrant that You are legally
	permitted to trade, direct or indirect via a third party as <b>JSBC.
	</b>
	</p>
	<li><p style="margin-bottom: 0.11in; ">Due to the
	nature of the <b>Internet</b> and computer systems, <b>JSBC</b>
	shall <b>NOT </b>be held liable for the continuous availability of
	the Website. Although <b>JSBC</b> makes every endeavor to keep the
	Websites accessible and free from viruses, <b>JSBC</b> cannot make
	any guarantee that it will be perpetually virus-free. 
	</p>
</ul>
<p style="margin-bottom: 0.11in; ">In addition, the
Client acknowledges and agrees that:</p>
<ul>
	<li><p style="margin-bottom: 0.11in; "><a name="_GoBack"></a>
	<b>JSBC is not a Prop Firm (i.e. you are expected to come along with
	your Capital or a registered account.</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>Minimum
	funded live Account is $500, and must be registered with our
	Partnered Broker also through our link.</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>Minimum
	prop Firm funded Account is $20,000, and must be registered with our
	Partnered Prop Firm. And it must also be through our link.</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>Managing
	a Prop Firm account attracts the following charges</b></p>
</ul>
<ol type="a">
	<li><p style="margin-bottom: 0.11in; "><b>$20,000 
	-  $100</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>$50,000 
	-  $200</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>$100,000 
	-  $300</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>$200,000 
	- $500</b></p>
</ol>
<ul>
	<li><p style="margin-bottom: 0.11in; "><b>Mentorship
	programme (One on One live sessions) cost $2,000</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>Profit
	split for all account is 50:50</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>JSBC will
	take no responsibility for blown account.</b></p>
	<li><p style="margin-bottom: 0.11in; "><b>All
	Payments will be made either in US Dollar (USD), Great Britain
	Pounds (GBP), European Euro (EUR), or the Nigerian Naira (NGN).</b></p>
</ul>
<p style="margin-bottom: 0.11in; "><br/>
<br/>

</p>

<p class="text-start fs-5 fw-bold" style=" 0.25in; margin-bottom: 0.11in; ">
Violation of the Terms and Conditions.</p>
<p style="margin-bottom: 0.11in; ">If <b>a Client
violates</b> the above <b>Terms and Conditions</b>, or acts in a way
a way that <b>JSBC</b> thinks is <b>not</b> appropriate; or <b>misuses
</b>any of the information given to You prior to disclosed to the
public or in any way <b>misrepresent, slander, spread gossip, make
statements or otherwise say </b>or<b> write things </b>that can<b>
harm the reputation of JSBC</b> as a company, <b>JSBC</b> reserves
the <b>right to suspend and/or terminate</b> the status of such a
<b>Client</b>, and also reserves the right to take legal action
against such clients for any damage You have caused <b>JSBC</b>.</p>
<p style="margin-bottom: 0.11in; "><br/>
<br/>

</p>
<p style="margin-bottom: 0.11in; "><br/>
<br/>

</p>
</div>
        {% comment %} col 3 {% endcomment %}
        <div class="col-12 d-flex justify-content-center">
            <img class="img-fluid" src="{% static 'images/terms_sign.jpg' %}" alt="Signature">
        </div>
    </div>
</div>
</section>
{% endblock content %}