.main-content {
    overflow-y: scroll !important;
}
.navbar-toggler {
    z-index: 1000 !important;
}
a:hover::before {
    content: ""
}

// 
li a,
a {
    color: white !important;
    font-size: 1.0rem !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

a span {
    font-size: 0.9rem !important;
}

li a:hover,
a:hover {
    background-color: white !important;
    color: #0d6efd !important;
    border-radius: 5px;
}

// overide for welcome element
li.welcome a:hover {
    background-color: #0d6efd !important;
    color: white !important;
    border-radius: 0;
}

li.active {
    border: rgba(255, 255, 255, 0.164) 1px solid;
    border-radius: 5px;
}

.border-left {
    border-width: 7px !important;
}
.dropdown-menu {
    padding: 10px !important;
}
.dropdown-item {
    background-color: #0d6efd;
        color: white !important;
        margin-bottom: 5px;
        border-radius: 5px;
}
@media screen and (min-width: 567px) {

    a span::before {
        content: " "
    }
}

@media screen and (max-width: 900px) {

    a span {
        font-size: 0.5rem !important;
        font-weight:bold;
        color: rgba(23, 243, 23, 0.788);
    }
}

@media screen and (max-width: 900px) {

    .dropdown-menu {
        display: none !important;
    }
}
